<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>html-demo</title>
</head>

<body>
  <div class="main">
    <h1 class="left">name: {{ .Name }}</h1>
    <h1 class="left">sex: {{ .Sex }}</h1>
    </div>
</body>
</html>